{% extends "main/base.html" %}
{% load static %}
{% block main %}


<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-googleplus"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>
			<div class="slick-multiItemSlider">
				{% for movie in movies %}
					<div class="movie-item">
						<div class="mv-img">
							<a href="{% url 'base:movie-detail' slug=movie.slug %}">
								<img src="{{ movie.poster }}" alt="{{ movie.title }}" width="285" height="437">
							</a>
						</div>
						<div class="title-in">
							<div class="cate">
								<!-- فرض می‌شود که هر فیلم دارای فیلد ژانرهای متعدد است -->
								{% for genre in movie.genres.all %}
								<span class="blue"><a href="#">{{ genre.name }}</a></span>
								{% endfor %}
							</div>
							<h6><a href="{% url 'base:movie-detail' slug=movie.slug %}">{{ movie.title }}</a></h6>
							<p><i class="ion-android-star"></i><span>{{ movie.average_rating|floatformat:1 }}</span> /5</p>
						</div>
					</div>
					{% empty %}
					<p>هیچ فیلمی یافت نشد.</p>
				{% endfor %}
			</div>
		</div>
	</div>
</div>




<div class="movie-items">
	<script>

</script>
	<div class="container">
		{% for category in categories %}
			<div class="row ipad-width">
				<div class="col-md-12">
					<div class="title-hd">
						<h2>{{ category.title }}</h2>
						<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
					</div>
					<div class="tabs">
						<style>
							.tab-links {
								list-style-type: none;
								margin: 0;
								padding: 0;
								overflow: hidden;
								background-color: #333;
								/* Dark background color */
							}


							.tab-links li a {
								display: block;
								color: white;
								text-align: center;
								padding: 14px 16px;
								text-decoration: none;
								font-family: 'Tahoma', sans-serif;
								font-size: 16px !important;
								transition: 0.3s;
							}

							.tab-links li a:hover {
								background-color: red;
								/* Light grey background on hover */
								color: black;
								/* Black text color on hover */
							}

							.tab-links .active a {
								background-color: #04AA6D;
								/* Green background for the active tab */
								color: white;
								/* White text color for the active tab */
							}

							.movie-items .movie-item .title-in {
								margin-left: 10px;
								margin-bottom: 10px;
							}

							.movie-items .movie-item .mv-img {
								position: relative;
								margin-top: 10%;

							}
							.movie-item:hover .hvr-inner {
								background-color: transparent;
							}

							.crasol-rat {
								background-color: #504848ad; 
								padding: 5px;
								border-radius: 5px;
								display: inline-block;
							}
						</style>
						{% comment %} <ul class="tab-links">
							<li class="active"><a href="#{{ category.id }}-tab1">به تازگی</a></li>
							<li><a href="#{{ category.id }}-tab2">جدیدترین</a></li>
							<li><a href="#{{ category.id }}-tab3">محبوب</a></li>
							<li><a href="#{{ category.id }}-tab4">بیشترین امتیاز</a></li>
							<li><a href="#{{ category.id }}-tab5">بزودی</a></li>
							<li><a href="#{{ category.id }}-tab6">IMDB</a></li>
						  </ul> {% endcomment %}
						<ul class="tab-links">
							{% for key, value in categorized_movies.0.movies.items %}
								<li>
									<a href="#{{ category.id }}-{{ key }}">{{ value.name }}</a>
								</li>
							{% endfor %}
						</ul>
						
						
						<div class="tab-content">
							{% for key, value in categorized_movies.0.movies.items %}
                    			<div id="{{ category.id }}-{{ key }}" class="tab {% if forloop.first %}active{% endif %}">
									<div class="row">
										<div class="slick-multiItem">
											{% for related_movie in value.data %}
											
												<div class="movie-item">
													<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
														<img src="{{ related_movie.poster }}" alt="{{ related_movie.title }}" width="200" height="350">
													</a>
													<div class="hvr-inner">
														<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
															<h6 class='carousel-title'><a class='carousel-title' href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																{{ related_movie.title }}
															</a></h6><i class="ion-android-arrow-dropright"></i>
														</a>
													</div>
													<div class="title-in">
														{% if related_movie.average_rating %}
														<p class='crasol-rat'><i class="ion-android-star"></i><span>
														{{ related_movie.average_rating|floatformat:1 }}</span> /5
														</p>
														{% elif related_movie.imdb_rating %}
														<p class='crasol-rat'><i class="fab fa-imdb"></i><span>
														{{ related_movie.imdb_rating }}</span>
														</p>
														{% else %}
														<p class='crasol-rat'><i class="ion-android-star"></i><span>
														N/A</span>
														</p>
														{% endif %}
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock main %}



									{% comment %} <div id="#tab{{ category.title | lower }}" class="tab {% if forloop.first %}active{% endif %}">
										<div class="row">
											<div class="slick-multiItem">
												{% for related_movie in release_date %}
													<div class="movie-item">
														<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
															<img src="{{ related_movie.poster }}" alt="{{ related_movie.title }}" width="200" height="350">
														</a>
														<div class="hvr-inner">
															<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																<h6 class='carousel-title'><a class='carousel-title' href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																	{{ related_movie.title }}
																</a></h6><i class="ion-android-arrow-dropright"></i>
															</a>
														</div>
														<div class="title-in">
															{% if related_movie.average_rating %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															{{ related_movie.average_rating|floatformat:1 }}</span> /5
															</p>
															{% elif related_movie.imdb_rating %}
															<p class='crasol-rat'><i class="fab fa-imdb"></i><span>
															{{ related_movie.imdb_rating }}</span>
															</p>
															{% else %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															N/A</span>
															</p>
															{% endif %}
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
									<div id="#tab{{ category.title | lower }}" class="tab {% if forloop.first %}active{% endif %}">
										<div class="row">
											<div class="slick-multiItem">
												{% for related_movie in popular_movies %}
													<div class="movie-item">
														<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
															<img src="{{ related_movie.poster }}" alt="{{ related_movie.title }}" width="200" height="350">
														</a>
														<div class="hvr-inner">
															<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																<h6 class='carousel-title'><a class='carousel-title' href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																	{{ related_movie.title }}
																</a></h6><i class="ion-android-arrow-dropright"></i>
															</a>
														</div>
														<div class="title-in">
															{% if related_movie.average_rating %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															{{ related_movie.average_rating|floatformat:1 }}</span> /5
															</p>
															{% elif related_movie.imdb_rating %}
															<p class='crasol-rat'><i class="fab fa-imdb"></i><span>
															{{ related_movie.imdb_rating }}</span>
															</p>
															{% else %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															N/A</span>
															</p>
															{% endif %}
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
									<div id="#tab{{ category.title | lower }}" class="tab {% if forloop.first %}active{% endif %}">
										<div class="row">
											<div class="slick-multiItem">
												{% for related_movie in top_rated_movies %}
													<div class="movie-item">
														<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
															<img src="{{ related_movie.poster }}" alt="{{ related_movie.title }}" width="200" height="350">
														</a>
														<div class="hvr-inner">
															<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																<h6 class='carousel-title'><a class='carousel-title' href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																	{{ related_movie.title }}
																</a></h6><i class="ion-android-arrow-dropright"></i>
															</a>
														</div>
														<div class="title-in">
															{% if related_movie.average_rating %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															{{ related_movie.average_rating|floatformat:1 }}</span> /5
															</p>
															{% elif related_movie.imdb_rating %}
															<p class='crasol-rat'><i class="fab fa-imdb"></i><span>
															{{ related_movie.imdb_rating }}</span>
															</p>
															{% else %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															N/A</span>
															</p>
															{% endif %}
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>

									<div id="#tab{{ category.title | lower }}" class="tab {% if forloop.first %}active{% endif %}">
										<div class="row">
											<div class="slick-multiItem">
												{% for related in coming_soon_movies %}
													<div class="movie-item">
														<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
															<img src="{{ related_movie.poster }}" alt="{{ related_movie.title }}" width="200" height="350">
														</a>
														<div class="hvr-inner">
															<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																<h6 class='carousel-title'><a class='carousel-title' href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																	{{ related_movie.title }}
																</a></h6><i class="ion-android-arrow-dropright"></i>
															</a>
														</div>
														<div class="title-in">
															{% if related_movie.average_rating %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															{{ related_movie.average_rating|floatformat:1 }}</span> /5
															</p>
															{% elif related_movie.imdb_rating %}
															<p class='crasol-rat'><i class="fab fa-imdb"></i><span>
															{{ related_movie.imdb_rating }}</span>
															</p>
															{% else %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															N/A</span>
															</p>
															{% endif %}
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
									<div id="#tab{{ category.title | lower }}" class="tab {% if forloop.first %}active{% endif %}">
										<div class="row">
											<div class="slick-multiItem">
												{% for related_movie, movie_data in top_rated_movies_data %}
													<div class="movie-item">
														<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
															<img src="{{ related_movie.poster }}" alt="{{ related_movie.title }}" width="200" height="350">
														</a>
														<div class="hvr-inner">
															<a href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																<h6 class='carousel-title'><a class='carousel-title' href="{% url 'base:movie-detail' slug=related_movie.slug %}">
																	{{ related_movie.title }}
																</a></h6><i class="ion-android-arrow-dropright"></i>
															</a>
														</div>
														<div class="title-in">
															{% if related_movie.average_rating %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															{{ related_movie.average_rating|floatformat:1 }}</span> /5
															</p>
															{% elif related_movie.imdb_rating %}
															<p class='crasol-rat'><i class="fab fa-imdb"></i><span>
															{{ related_movie.imdb_rating }}</span>
															</p>
															{% else %}
															<p class='crasol-rat'><i class="ion-android-star"></i><span>
															N/A</span>
															</p>
															{% endif %}
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div> {% endcomment %}