{% extends "main/base.html" %}
{% load static %}
{% block main %}

<style>
	.movie-item-style-1 {
		flex: 0 0 30%; 
		{% comment %} padding: 15px;  {% endcomment %}
		box-sizing: border-box;
	  }
	.movie-item-style-1 img {
		width: 100%;
		height: auto;
		display: block;
	}

	.movie-items .movie-item .title-in {
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.movie-items .movie-item .mv-img {
		position: relative;
		margin-top: 10%;

	}

	.movie-item:hover .hvr-inner {
		background-color: transparent;
	}

	.image-content {
		position: relative;
	  }
	  
	.crasol-rat {
		position: absolute;
		top: 5%;
		right: 4%;
		background-color: #006699; 
		color: #F5F5DC; 
		padding: 5px;
		border-radius: 5px;
	}
	

</style>

<script>
	window.onload = function() {
		var select = document.querySelector('select[name="filter_by"]');
	  
		select.addEventListener('change', function() {
			localStorage.setItem('selected_option', this.value);
		});
	  
		var selectedOption = localStorage.getItem('selected_option');
	  
		if (selectedOption) {
			select.value = selectedOption;
		}
	};
</script>

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> movie listing - grid</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p style='direction:ltr; text-align:left;'>
						در مجموع  <span> {{ categorized_movies.0.movie_count }} {{ categorized_movies.0.category.title }}</span> پیدا شد
					</p>
					<label>مرتب سازی بر اساس :</label>
					<form method="get">
						<select name="filter_by" onchange="this.form.submit()">
						  <option value="popularity_asc" {% if filter_order == 'popularity_asc' %}selected{% endif %}>محبوبیت - صعودی</option>
						  <option value="popularity_desc" {% if filter_order == 'popularity_desc' %}selected{% endif %}>محبوبیت - نزولی</option>
						  <option value="rating_asc" {% if filter_order == 'rating_asc' %}selected{% endif %}>امتیاز - صعودی</option>
						  <option value="rating_desc" {% if filter_order == 'rating_desc' %}selected{% endif %}>امتیاز - نزولی</option>
						  <option value="date_asc" {% if filter_order == 'date_asc' %}selected{% endif %}>تاریخ انتشار - صعودی</option>
						  <option value="date_desc" {% if filter_order == 'date_desc' %}selected{% endif %}>تاریخ انتشار - نزولی</option>
						</select>
					  </form>
					  
					<a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
					<a  href="moviegrid.html" class="grid"><i class="ion-grid active"></i></a>
				</div>
				<!-- در فایل moviegrid.html -->
				{% for data in categorized_movies %}
					<div class="flex-wrap-movielist">
						{% for movie in data.movies %}
							<div class="movie-item-style-2 movie-item-style-1">
								<a href="{% url 'category:category_list' data.category.slug  %}">
									<img src="{{ movie.poster }}" alt="{{ movie.title }}" width="200" height="350">
								</a>
								<div class="hvr-inner">
									<a href="{% url 'category:category_list' data.category.slug %}">
										<h6 class='carousel-title'><a class='carousel-title' href="{% url 'category:category_list' data.category.slug %}">
											{{ movie.title }}
											{{ movie.release_date }}
										</a></h6><i class="ion-android-arrow-dropright"></i>
									</a>
								</div>
								<div class="title-in">
									{% if movie.imdb_rating %}
										<p class='crasol-rat'><i class="fab fa-imdb"></i>
											<span>{{ movie.imdb_rating }}</span>
										</p>
									{% else %}
										<p class='crasol-rat'><i class="ion-android-star"></i>
											<span>N/A</span>
										</p>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}

				
				
					
				{% comment %} <div class="topbar-filter">
					<label>Movies per page:</label>
					<select>
						<option value="range">20 Movies</option>
						<option value="saab">10 Movies</option>
					</select>
					
					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">...</a>
						<a href="#">78</a>
						<a href="#">79</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div> {% endcomment %}
				{% if page_obj.paginator.num_pages > 1 %}
					<div class="pagination2">
						<span>صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }} :</span>
					
						{% if page_obj.has_previous %}
						<a href="?{{ query_params }}&page={{ page_obj.previous_page_number }}"><i class="ion-arrow-left-b"></i></a>
						{% endif %}
					
						{% if page_obj.number > 1 %}
							<a href="?{{ query_params }}&page=1">1</a>
							{% if not page_obj.number == 2 and not page_obj.number == 3 and not page_obj.number == 4 %}
								<span>...</span>
							{% endif %}
						{% endif %}
					
						{% if page_obj.number|add:'-2' > 1 %}
							<a href="?{{ query_params }}&page={{ page_obj.number|add:'-2' }}">{{ page_obj.number|add:'-2' }}</a>
						{% endif %}
						{% if page_obj.number|add:'-1' > 1 %}
							<a href="?{{ query_params }}&page={{ page_obj.number|add:'-1' }}">{{ page_obj.number|add:'-1' }}</a>
						{% endif %}
					
						<a class="active" href="?{{ query_params }}&page={{ page_obj.number }}">{{ page_obj.number }}</a>
					
						{% if page_obj.number|add:'1' <= page_obj.paginator.num_pages %}
							<a href="?{{ query_params }}&page={{ page_obj.number|add:'1' }}">{{ page_obj.number|add:'1' }}</a>
						{% endif %}

						{% if page_obj.number|add:'2' <= page_obj.paginator.num_pages %}
							<a href="?{{ query_params }}&page={{ page_obj.number|add:'2' }}">{{ page_obj.number|add:'2' }}</a>
						{% endif %}
					
						{% if page_obj.number < page_obj.paginator.num_pages %}
							{% if page_obj.number < page_obj.paginator.num_pages|add:'-5' %}
								<span>...</span>
							{% endif %}
						
							{% if not page_obj.number == page_obj.paginator.num_pages|add:'-2' %}
								{% if page_obj.number < page_obj.paginator.num_pages|add:'-1' %}
									<a href="?{{ query_params }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
								{% endif %}
							{% endif %}
						{% endif %}
					
						{% if page_obj.has_next %}
							<a href="?{{ query_params }}&page={{ page_obj.next_page_number }}"><i class="ion-arrow-right-b"></i></a>
						{% endif %}
					</div>
				{% endif %}
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">جستجوی {{ categorized_movies.0.category.title }}</h4>
						<form class="form-style-1" action="{% url 'category:category_list' slug=categorized_movies.0.category.slug %}" method="GET">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12 form-it">
									<label>نام {{ categorized_movies.0.category.title }}</label>
									<input type="text" name="movie_name" placeholder="وارد کنید :">
								</div>
								<div class="col-md-12 form-it">
									<label>ژانر</label>
									<div class="group-ip">
									  <select name="genre" multiple="" class="ui fluid dropdown">
										<option value="" disabled selected>همه</option>
											{% for genre in genres %}
												<option value="{{ genre }}">{{ genre }}</option>
											{% endfor %}
									  </select>
									</div>
								  </div>
								
								  <div class="col-md-12 form-it">
									<label>محدوده امتیاز</label>
									<select name="rating_range">
										<option value="">-- انتخاب کنید --</option>
										{% for start, end in rating_ranges %}
											<option value="{{ start }}-{{ end }}">{{ start }} تا {{ end }}تا</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>سال انتشار</label>
									<div class="row">
										<div class="col-md-6">
											<select name="release_year_from">
												<option value="">از</option>
												{% for year in years_range %}
													<option value="{{ year }}">{{ year }}</option>
												{% endfor %}
											</select>
										</div>
										<div class="col-md-6">
											<select name="release_year_to">
												<option value="">به</option>
												{% for year in years_range %}
													<option value="{{ year }}">{{ year }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
					{% comment %} <div class="ads">
						<img src="images/uploads/ads1.png" alt="">
					</div> {% endcomment %}
					{% comment %} <div class="sb-facebook sb-it">
						<h4 class="sb-title">Find us on Facebook</h4>
						<iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"  height="315" style="width:100%;border:none;overflow:hidden" ></iframe>
					</div> {% endcomment %}
					{% comment %} <div class="sb-twitter sb-it">
						<h4 class="sb-title">Tweet to us</h4>
						<div class="slick-tw">
							<div class="tweet item" id=""><!-- Put your twiter id here -->
							</div>
							<div class="tweet item" id=""><!-- Put your 2nd twiter account id here -->
							</div>
						</div>					
					</div> {% endcomment %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}